- if @thing.errors.none?
  = turbo_stream.replace "things-list" do
    = render partial: "list", locals: {things: @things}

= turbo_stream.replace "thing-new" do
  - if @thing.errors.none?
    = render partial: "new_button"
  - else
    = render partial: "new_form", locals: {thing: @thing}

= turbo_stream.replace "flash_notices" do
  = render partial: "layouts/flash_notices"
  - if @thing.errors.any?
    = render partial: "errors", locals: {resource: @thing}